
<div class="row">
    <div class="small-10 columns">
        <ul class="breadcrumbs">
            <li>{{#linkTo "galleries.index"}}Galleries{{/linkTo}}</li>
        </ul>
    </div>
    <div class="small-2 columns">
        {{#linkTo "galleries.new"}}Add a gallery{{/linkTo}}
    </div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        {{#unless controller.length}}
          No galleries yet, go create one!
        {{/unless}}
        <ul class="large-block-grid-5">
          {{#each gallery in controller}}
              <li>
                {{#linkTo "galleries.show" gallery}}
                    <img class="th" {{bindAttr src="gallery.photos.firstObject.thumbnailSrc"}}>
                    <span>{{gallery.title}}</span>
                {{/linkTo}}
              </li>
          {{/each}}
        </ul>
    </div>
</div>