<div class="row">
    <div class="small-12 small-centered columns">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <ul class="breadcrumbs">
            <li>{{#linkTo "galleries.index"}}Galleries{{/linkTo}}</li>
            <li>{{#linkTo "galleries.show" this}}{{title}}{{/linkTo}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="small-12 small-centered columns">
        <ul class="large-block-grid-5">
          {{#each photos}}
              <li>{{#linkTo "photo" this}}<img class="th" {{bindAttr src="thumbnailSrc"}}>{{/linkTo}}</li>
          {{/each}}
        </ul>
    </div>
</div>